.section {
	display: flex;
	align-items: center;
	padding: 1rem;
	min-width: 200px;
	cursor: pointer;
	transition: color 400ms ease-in-out, background-color 200ms ease-in-out;
}
.section:hover {
	background-color: whitesmoke;
}

.section:not(.section_active):hover {
	color: #333 !important;
}
.section > h4 {
	font-size: 1rem;
	margin-left: 1rem;
}
